nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 6px 10px;
}

nav > div {
  background-color: rgba(240, 240, 240, 0.8);
  box-shadow: 5px 5px 5px #ccc;
  border-radius: 8px 8px 12px 12px;
  backdrop-filter: blur(2px);
}
